<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhhl.kuangjia">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--写入文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:networkSecurityConfig="@xml/network_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.MyAppliction">
        <!--数据库-->
        <!--新建的sqlite数据库名称-->
        <meta-data android:name="DATABASE" android:value="ceshi.db"/>
        <!--数据库的版本。通过数据库的版本决定是否对数据库进行更新-->
        <meta-data android:name="VERSION" android:value="3"/>
        <!--在处理数据库过程中，是否在Logcat显示日志-->
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <!--第2步新建的类所在的包名-->
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.zhhl.kuangjia.bean"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcomes.Welcome"/>
        <activity android:name=".activitys.CeshiActivity"/>
        <activity android:name=".activitys.Map"/>
        <activity android:name=".activitys.JieTuActivity"/>
        <activity android:name=".activitys.TableActivity"/>
        <activity android:name=".activitys.ShuiyinActivity"/>
        <activity android:name=".activitys.SQLiteActivity"/>
        <activity android:name=".activitys.PaizhaoActivity"/>
    </application>

</manifest>